@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 3rem;
    }

    .hero .right img {
        height: 50rem;
    }

    .hero .left span {
        font-size: 1.7rem;
    }

    .hero .left h1 {
        font-size: 3.5rem;
    }

    .hero .left {
        top: 25%;
    }

    .hero .right img {
        height: 30rem;
    }

    .hero .right {
        right: -18%;
    }

    .hero .left span {
        font-size: 1.6rem;
    }

    .hero .left h1 {
        font-size: 3rem;
    }
}


@media only screen and (max-width: 996px ) {
    .hero .left {
        top: 30%;
    }

    .hero .right img {
        height: 35rem;
    }

    .hero .right {
        right: -10%;
    }

    .promotion-layout {
        grid-template-columns: repeat(2, 1fr);
    }
    .prodouct-layout {
        grid-template-columns: repeat(3, 1fr);
    }

    .advert-layout .left {
        right: 5%;
    }

    .advert-layout .right {
        left: 5%;
    }
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
    .product-detail .left {
        height: 45rem;
    }

    .product-detail .details {
        gap: 3rem;
    }

    .product-detail .thumbnails {
        gap: 0.5rem;
    }

    .product-detail .thumbnail {
        background-color: #f6f2f1;
        text-align: center;
    }
    .col-3-of-4 .product-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}


  @media only screen and (max-width: 968px) {

    .wrapper .nav-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        max-width: 35rem;
        background-color: var(--white);
        display: block;
        overflow-y: auto;
        line-height: 5rem;
        box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
        transition: all 300ms linear;
    }

        .wrapper .nav-list.show {
            left: 0;
        }

    .nav-list li {
        margin: 1.5rem 1rem;
    }

    .nav-list a {
        display: block;
        font-size: 1.8rem;
        padding: 0 2rem;
        color: var(--black);
    }

    .nav-list .drop-menu1,
    .nav-list .drop-menu2 {
        position: static;
        opacity: 1;
        visibility: visible;
        top: 6.5rem;
        padding-left: 2rem;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    #showdrop1:checked ~ .drop-menu1,
    #showdrop2:checked ~ .drop-menu2,
    #showMega:checked ~ .mega-box {
        max-height: 100%;
    }

    .nav-list .drop-menu1 li,
    .nav-list .drop-menu2 li {
        margin: 0;
    }

    .nav-list .drop-menu1 li a,
    .nav-list .drop-menu2 li a {
        color: var(--grey2);
        font-size: 1.5rem;
    }

    .nav-list .desktop-item {
        display: none;
    }

    .nav-list .mobile-item {
        display: block;
        font-size: 1.8rem;
        padding-left: 2rem;
        color: var(--black);
        cursor: pointer;
        border-radius: 0.5rem;
    }

    .nav-list .mobile-item:hover {
        color: var(--primary);
    }

    .mega-box {
        position: static;
        top: 6.5rem;
        padding: 0 2rem;
        opacity: 1;
        visibility: visible;
        max-height: 0;
        overflow: hidden;
        transition: all 300ms ease;
    }

    .mega-box .content {
        flex-direction: column;
        padding: 2rem 2rem 0 2rem;
    }

    .mega-box .content .row {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.09);
        margin-bottom: 1.5rem;
    }

    .content .row:nth-child(1),
    .content .row:nth-child(2) {
        border-top: 0;
    }

    .content .row .mega-links {
        border-left: 0;
        padding-left: 2rem;
    }

    .row .mega-links li {
        margin: 0;
    }

    .wrapper .btn {
        display: block;
        color: var(--black);
    }

    .nav-list .top {
        position: relative;
        display: block;
        background-color: var(--primary);
        width: 100%;
        height: 8rem;
    }

    .nav-list .close-btn {
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        color: var(--white);
    }

    .nav-list .icons {
        padding-left: 2rem;
    }

    .product-detail .details {
        grid-template-columns: 1fr;
    }

    .product-detail .right {
        margin-top: 10rem;
    }

    .product-detail .left {
        width: 100%;
        height: 45rem;
    }

    .product-detail .details {
        gap: 3rem;
    }

    .product-detail .thumbnail {
        width: 6rem;
        height: 6rem;
    }
}


@media only screen and (max-width: 768px) {
    .container {
        max-width: 60rem;
    }
    .promotion-layout {
        grid-template-columns: 1fr;
    }
    .prodouct-layout {
        grid-template-columns: repeat(2, 1fr);
    }
    .advert .advert-layout {
        grid-template-columns: 1fr;
    }
    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .products-layout {
        padding: 0 5rem;
    }

    .col-3-of-4 form {
        flex-direction: column;
        align-items: end;
    }

    .col-3-of-4 form a {
        margin-right: 0;
    }

    .col-3-of-4 form .item {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .products-layout {
        grid-template-columns: 1fr;
        gap: 4rem 0;
    }
}

@media only screen and (max-width: 567px) {
    .hero .left {
        top: 25%;
    }

    .hero .right img {
        height: 30rem;
    }

    .hero .right {
        right: -18%;
    }

    .hero .left span {
        font-size: 1.6rem;
    }

    .hero .left h1 {
        font-size: 3rem;
    }
    .prodouct-layout {
        grid-template-columns: 1fr;
    }
    .advert-layout .content span {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
    }

    .advert-layout .content h3 {
        font-size: 2rem;
        margin-bottom: 0.6rem;
    }

    .advert-layout .content a {
        transition: all 300ms ease-in-out;
    }
    .cart-info p {
        display: none;
    }
    .col-3-of-4 .product-layout {
        grid-template-columns: 1fr;
    }
}